{{ define "title" }}{{ .Title }}{{ end }}

{{define "flashes"}}{{ .Flashes }}{{end}}

{{ define "content" }}
    <div class="padding">
        <h2>Northbrook</h2>
        <p>
            {{ .User.ID }}
        </p>

        <ul class="topnav">
            <li><a href="#buildqueue" class="button small">Build queue</a></li>
            <li><a href="#buildings" class="button small">Buildings</a></li>
            <li><a href="#warehouse" class="button small">Warehouse</a></li>
        </ul>

        <div class="row" id="buildqueue">
            <div class="col">
                <div class="card is-full-height">
                    <header>
                        <h3>Build queue</h3>
                    </header>
                    <p>
                        At your current level you can have up to <strong>3</strong> buildings in the queue.
                    </p>
                    <div class="row">
                        <div class="col">
                            <h4>Farm</h4>
                            Level 3
                        </div>
                        <div class="col">
                            Ready at <strong>2020-06-06 21:05</strong>
                            <br>
                            <progress max="100" value="80"></progress>
                        </div>
                        <div class="col">
                            <a href="#" class="button error">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="buildings">
            <div class="col-6 col-4-md">
                <div class="card is-full-height">
                    <header>
                        <h3>Farm</h3>
                    </header>
                    <img src="https://www.knightsandmerchants.net/application/files/7515/6823/6441/farm.png" alt=""
                         class="pull-right">
                    <p>
                        Grows wheat in the fields.
                    </p>
                    <table class="striped">
                        <tr>
                            <th>Consumes</th>
                            <td><em>Nothing</em></td>
                        </tr>
                        <tr>
                            <th>Produces</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/4615/6823/6518/corn.png"
                                     alt="Wheat">
                                Wheat
                            </td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Wheat per hour</th>
                            <td>2</td>
                        </tr>
                    </table>
                    <footer class="is-right">
                        <a href="#" class="button small success">Upgrade</a>
                        <a href="#" class="button small error">Demolish</a>
                    </footer>
                </div>
            </div>
            <div class="col-6 col-4-md">
                <div class="card is-full-height">
                    <header>
                        <h3>Mill</h3>
                    </header>
                    <img src="https://www.knightsandmerchants.net/application/files/9415/6823/6446/mill.png" alt=""
                         class="pull-right">
                    <p>
                        Mills wheat into bags of flour.
                    </p>
                    <table class="striped">
                        <tr>
                            <th>Consumes</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/4615/6823/6518/corn.png"
                                     alt="Wheat">
                                Wheat
                            </td>
                        </tr>
                        <tr>
                            <th>Produces</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/6815/6823/6519/flour.png"
                                     alt="Flour">
                                Flour
                            </td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Flour per wheat</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Flour per hour</th>
                            <td>1</td>
                        </tr>
                    </table>
                    <footer class="is-right">
                        <a href="#" class="button small success">Upgrade</a>
                        <a href="#" class="button small error">Demolish</a>
                    </footer>
                </div>
            </div>
            <div class="col-6 col-4-md">
                <div class="card is-full-height">
                    <header>
                        <h3>Bakery</h3>
                    </header>
                    <img src="https://www.knightsandmerchants.net/application/files/1215/6823/6439/bakery.png" alt=""
                         class="pull-right">
                    <p>
                        Bakes bread for the soldiers using flour from the mill.
                    </p>
                    <table class="striped">
                        <tr>
                            <th>Consumes</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/6815/6823/6519/flour.png"
                                     alt="Flour">
                                Flour
                            </td>
                        </tr>
                        <tr>
                            <th>Produces</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/9415/6823/6524/loaf.png"
                                     alt="Bread">
                                Bread
                            </td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th>Bread per flour</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Bread per hour</th>
                            <td>4</td>
                        </tr>
                    </table>
                    <footer class="is-right">
                        <a href="#" class="button small success">Upgrade</a>
                        <a href="#" class="button small error">Demolish</a>
                    </footer>
                </div>
            </div>

            <div class="col-6 col-4-md">
                <div class="card">
                    <header>
                        <h3>Bakery</h3>
                    </header>
                    <img src="https://www.knightsandmerchants.net/application/files/1215/6823/6439/bakery.png" alt=""
                         class="pull-right">
                    <p>
                        Bakes bread for the soldiers using flour from the mill.
                    </p>
                    <table class="striped">
                        <tr>
                            <th>Consumes</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/6815/6823/6519/flour.png"
                                     alt="Flour">
                                Flour
                            </td>
                        </tr>
                        <tr>
                            <th>Produces</th>
                            <td>
                                <img src="https://www.knightsandmerchants.net/application/files/9415/6823/6524/loaf.png"
                                     alt="Bread">
                                Bread
                            </td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th>Bread per flour</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Bread per hour</th>
                            <td>4</td>
                        </tr>
                    </table>
                    <footer class="is-right">
                        <a href="#" class="button small success">Upgrade</a>
                        <a href="#" class="button small error">Demolish</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="row" id="warehouse">
            <div class="col">
                <div class="card">
                    <header>
                        <h3>Warehouse</h3>
                    </header>
                </div>
            </div>
        </div>
    </div>
{{ end }}
