{{ define "title" }}{{ .Title }}{{ end }}

{{define "flashes"}}{{ .Flashes }}{{end}}

{{ define "content" }}
    <div class="padding">
        <h2>Start your town!</h2>
        <form action="/join-now" method="post">
            <p>
                <label for="email">Email:</label>
                <input id="email" type="text" name="email">
            </p>
            <p>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
            </p>
            <input type="submit" value="Join!">
        </form>
    </div>
{{ end }}
