:root {
    --color-primary: #cf763b;
    --color-lightGrey: #d2d6dd;
    --color-grey: #8a8583;
    --color-darkGrey: #475c6c;
    --color-error: #7f3004;
    --color-success: #8d8638;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* overwrite colours for navbar */
.tabs > .dropdown > summary, .tabs > a {
    color: #5a3e2d;
    border-bottom: 2px solid var(--color-primary);
}
.tabs>a.active,
.tabs>a:hover {
    opacity:1;
    border-bottom:2px solid var(--color-error);
}
.tabs>a.active {
    font-weight: bold;
}

thead {
    border-bottom-color: var(--color-primary);
}

#warehouse table.striped tr:nth-of-type(2n) {
    background-color: #b8a77d;
}

/* Colour palette based on:
    Brugge Medieval  https://www.color-hex.com/color-palette/51111
    Medieval Dominca Garden https://www.color-hex.com/color-palette/1061
*/
body {
    background: #eed7a1;
    color: #5a3e2d;
}

h1, h2 {
    font-family: "MedievalSharp", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    background: #f7efd3;
    padding-bottom: 1em;
}

.button.small {
    padding: 0.5rem 1.5rem;
}

.card footer {
    margin-top: 1rem;
}

.is-full-height {
    height: 100%;
}

.topnav {
    padding: 0;
    margin: 0 0 1rem;
}

.topnav li {
    list-style-type: none;
    margin: 0.5rem;
}

.topnav li a {
    width: 100%;
}

@media (min-width: 600px) {
    .container {
        margin-top: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.49), 0 .25rem .25rem rgba(0, 0, 0, 0.53);
    }

    .padding {
        padding: 1rem;
    }

    .topnav li {
        display: inline-block;
        margin: 0 0 .25rem;
    }
}

#footer {
    color: #8eb9d9;
    background: #475c6c;
}

#footer a {
    color: #faebd7;
}

.flash {
    padding: 1rem;
}

.flash-error {
    background-color: #7f3004;
    color: #e25506;
}

.flash-success {
    background-color: #8d8638;
    color: #ded35c;
}

.flash-info {
    background-color: var(--color-lightGrey);
    color: #4e4e4e;
}

#warehouse .card {
    background-color: #eed7a1;
}

#warehouse td:last-of-type {
    padding-right: 1rem;
    text-align: right;
}

hr.divider {
    border-bottom: 2px solid var(--color-primary);
}